@using Query.Contract.UI.Products
@using Shared.Application
@using Shared.Ui.Enums
@model ProductUiPaging
@{
    Layout = "_Layout";
}
@section Seo {
    <partial name="_Seo" model="@Model.Seo" />
}

<style>
    .products_old-price {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 5px;
    }

        .products_old-price del {
            color: #999;
            font-size: 14px;
            text-decoration: line-through;
        }

    .products_discount-percent {
        background-color: #ff4444;
        color: white;
        font-size: 12px;
        font-weight: bold;
        padding: 2px 6px;
        border-radius: 4px;
     
    }

    .products_new-price {
        color: #28a745;
        font-size: 18px;
        font-weight: bold;
    }

    .encode4365gbf265g43d {
        font-size: 18px;
        font-weight: bold;
        color: #333;
    }
</style>
<section class="inner-page" id="products-page">
    <partial name="_BreadCrumb" model="@Model.BreadCrumbs" />
    @if (Model.Seller != null)
    {
        <div class="shop-profile-container mt-3" id="shopProfileContainer">
            <!-- هدر فروشگاه -->
            <input type="hidden" id="SellerSlug" value="@Model.Seller.Slug" />
            <div class="shop-header">
                <div class="shop-cover">
                    <img src="@FileDirectories.SellerImageDirectory@Model.Seller.CoverImageName" alt="cover" class="shop-cover-img">
                    <div class="shop-logo-wrapper">
                        <img src="@FileDirectories.SellerImageDirectory100@Model.Seller.AvatarImageName" alt="@Model.Seller.ImageAlt" class="shop-logo">
                    </div>
                </div>

                <div class="shop-info">
                    <h1 class="shop-name">@Model.Seller.Title</h1>
                    <div class="shop-rating">
                        <div class="stars">
                            @for (int i = 1; i <= 5; i++)
                            {
                                if (i <= 5)
                                {
                                    <span class="star filled">★</span>
                                }
                                else
                                {
                                    <span class="star empty">☆</span>
                                }
                            }
                        </div>
                        <span class="rating-count">(6 نظر)</span>
                    </div>

                    <div class="shop-meta">
                        <div class="meta-item">
                            <i class="icon-location"></i>
                            <span>@Model.Seller.State، @Model.Seller.City</span>
                            <small>@Model.Seller.Address</small>
                        </div>

                    </div>



                    <div class="shop-stats">
                        <div class="stat">
                            <span class="stat-value">@Model.Seller.ProductCount</span>
                            <span class="stat-label">محصول</span>
                        </div>
                        <div class="stat">
                            <span class="stat-value">@Model.Seller.SellCount</span>
                            <span class="stat-label">فروش</span>
                        </div>
                        <div class="stat">
                            <span class="stat-value">@Model.Seller.InShop روز</span>
                            <span class="stat-label">در ناوینوشاپ</span>
                        </div>

                    </div>

                </div>
            </div>


            <!-- بخش جستجو و فیلتر -->
            <div class="shop-filters">
                <div class="search-box">
                    <input type="text" id="SearchproductSellInput" class="search-input" placeholder="جستجوی محصول در این فروشگاه...">
                    <i class="icon-search"></i>
                </div>

            </div>

        </div>
    }


    @if (!string.IsNullOrEmpty(Model.Filter) && !string.IsNullOrEmpty(Model.categorySlug))
    {
        <h5 id="ResultTitle" class="text-center mt-3"> نتاج جست و جو باری  @Model.Filter  در دسته بندی  @Model.categorySlug.Replace("_", " ")</h5>
    }
    else if (!string.IsNullOrEmpty(Model.Filter))
    {
        <h5 id="ResultTitle" class="text-center mt-3"> نتایج جست و جو برای @Model.Filter</h5>
    }
    else if (!string.IsNullOrEmpty(Model.categorySlug))
    {
        <h5 id="ResultTitle" class="text-center mt-3"> محصولات در دسته بندی  @Model.categorySlug.Replace("_", " ")</h5>
    }
    else
    {
        <h5 id="ResultTitle" class="text-center mt-3"> همه محصولات</h5>
    }

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="content">
                    <div class="row">
                        <div class="col-12 col-lg-3 px-3 px-lg-0">
                            <!-- Side Panel -->
                            @await Component.InvokeAsync("Categories")

                            <div class="accordion filters-container mt-3">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="col-12 py-1 px-4 mt-3">
                                                    <div id="steps-slider" dir="rtl"></div>
                                                </div>
                                                <div class="col-6 text-center encode4365gbf265g43d-range mt-3">
                                                    <div>از</div>
                                                    <div id="encode4365gbf265g43d-range-from">0</div>
                                                    <div>تومان</div>
                                                </div>
                                                <div class="col-6 text-center encode4365gbf265g43d-range mt-3">
                                                    <div>تا</div>
                                                    <div id="encode4365gbf265g43d-range-to">0</div>
                                                    <div>تومان</div>
                                                </div>
                                                <div class="col-12 text-center py-2">
                                                    <div class="btn btn-warning" onclick="applyPriceRange()">اعمال محدوده قیمت</div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Side Panel -->
                        </div>
                        <div class="col-12 col-lg-9 px-0 pl-lg-0 pr-lg-2 mt-2 mt-lg-0">
                            <!-- Filters -->
                            <div id="order-filters">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 col-sm-10 my-1">
                                            <div class="col-12 col-sm-10 my-1">
                                                @foreach (var item in Enum.GetValues(typeof(ProductSort)).Cast<ProductSort>())
                                                {
                                                    <span class="order-filter d-block d-sm-inline-block @(ViewBag.CurrentSort == item ? "active" : "")"
                                                          data-sort="@((int)item)"
                                                          onclick="changeSort(@((int)item))">
                                                        @item
                                                    </span>
                                                }
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- /Filters -->
                            <div class="mt-2" id="pager">
                                <div class="container">
                                    <div id="Products" class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 gx-md-4">
                                        <!-- Products -->
                                        @if (Model.Products.Any())
                                        {
                                            foreach (var product in Model.Products)
                                            {
                                                <div class="col" style="display: block;">
                                                    <div class="encode4326654321vfb">
                                                        <a href="/@product.SellerSlug/Product/@product.Slug">
                                                            <div class="image" style="background-image: url('/Images/Product/500/@product.ImageName');"></div>
                                                        </a>
                                                        <div class="details p-3">
                                                            <div class="category">
                                                                <a onclick="loadProducts({categorySlug: '@product.CategorySlug', pageId: 1})">@product.Category</a>
                                                            </div>
                                                            <a href="/@product.SellerSlug/Product/@product.Slug">
                                                                <h2>@product.Title</h2>
                                                            </a>

                                                            @if (product.PriceAfterOff > 0 && product.PriceAfterOff < product.Price)
                                                            {
                                                             
                                                                <div class="discount-section">
                                                                    <div class="products_old-price">
                                                                        <del>@product.Price.ToString("N0") تومان</del>
                                                                        <span class="products_discount-percent">@product.discountPercent%</span>
                                                                    </div>
                                                                    <div class="products_new-price">
                                                                        @product.PriceAfterOff.ToString("N0") تومان
                                                                    </div>
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                
                                                                <div class="encode4365gbf265g43d">@product.Price.ToString("N0") تومان</div>
                                                            }

                                                            <small class="text-secondary"><i class="fa fa-store"> </i><a href="/@product.SellerSlug">  @product.SellerTitle</a></small>
                                                            <div class="rate">
                                                                <svg class="svg-inline--fa fa-star fa-w-18" style="color: #ddd; width: 18px; height: 18px; display: inline-block;" aria-hidden="true" focusable="false" data-prefix="far" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z"></path></svg><svg class="svg-inline--fa fa-star fa-w-18" style="color: #ddd; width: 18px; height: 18px; display: inline-block;" aria-hidden="true" focusable="false" data-prefix="far" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z"></path></svg><svg class="svg-inline--fa fa-star fa-w-18" style="color: #ddd; width: 18px; height: 18px; display: inline-block;" aria-hidden="true" focusable="false" data-prefix="far" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z"></path></svg><svg class="svg-inline--fa fa-star fa-w-18" style="color: #ddd; width: 18px; height: 18px; display: inline-block;" aria-hidden="true" focusable="false" data-prefix="far" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z"></path></svg><svg class="svg-inline--fa fa-star fa-w-18" style="color: #ddd; width: 18px; height: 18px; display: inline-block;" aria-hidden="true" focusable="false" data-prefix="far" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z"></path></svg>
                                                                <span class="encode43bf265g43d">(0 رای دهنده)</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }



                                            @if (Model.PageCount > 1)
                                            {
                                                <div class="unique-pagination-wrapper text-center mt-4">
                                                    <ul class="unique-pagination-list">
                                                        @if (Model.PageId > 1)
                                                        {
                                                            <li class="unique-pagination-item">
                                                                <a href="javascript:void(0)" onclick="loadProducts({pageId: @(Model.PageId - 1)})" class="unique-pagination-link unique-pagination-prev">قبلی</a>
                                                            </li>
                                                        }

                                                        @if (Model.StartPage > 1)
                                                        {
                                                            <li class="unique-pagination-item">
                                                                <a href="javascript:void(0)" onclick="loadProducts({pageId: 1})" class="unique-pagination-link">1</a>
                                                            </li>
                                                            @if (Model.StartPage > 2)
                                                            {
                                                                <li class="unique-pagination-item">
                                                                    <span class="unique-pagination-dots">...</span>
                                                                </li>
                                                            }
                                                        }

                                                        @for (int i = Model.StartPage; i <= Model.EndPage; i++)
                                                        {
                                                            if (i == Model.PageId)
                                                            {
                                                                <li class="unique-pagination-item">
                                                                    <span class="unique-pagination-active">@i</span>
                                                                </li>
                                                            }
                                                            else
                                                            {
                                                                <li class="unique-pagination-item">
                                                                    <a href="javascript:void(0)" onclick="loadProducts({pageId: @i})" class="unique-pagination-link">@i</a>
                                                                </li>
                                                            }
                                                        }

                                                        @if (Model.EndPage < Model.PageCount)
                                                        {
                                                            @if (Model.EndPage < Model.PageCount - 1)
                                                            {
                                                                <li class="unique-pagination-item">
                                                                    <span class="unique-pagination-dots">...</span>
                                                                </li>
                                                            }
                                                            <li class="unique-pagination-item">
                                                                <a href="javascript:void(0)" onclick="loadProducts({pageId: @Model.PageCount})" class="unique-pagination-link">@Model.PageCount</a>
                                                            </li>
                                                        }

                                                        @if (Model.PageId < Model.PageCount)
                                                        {
                                                            <li class="unique-pagination-item">
                                                                <a href="javascript:void(0)" onclick="loadProducts({pageId: @(Model.PageId + 1)})" class="unique-pagination-link unique-pagination-next">بعدی</a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            }
                                        }

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{
    <script>

        $(document).ready(function () {

           Products();
        });
        </script>
}