@using Shared.Application
@model List<Blogs.Application.Contract.BlogService.Query.MostViewedPosts>
<!-- Featured Posts Grid -->
@if (Model.Count() == 4)
{
    var first = Model.First();
    var list = Model.Skip(1);

    <section class="featured-posts-grid">
        <div class="container">
            <div class="row row-8">

                <div class="col-lg-6">

                    @foreach (var item in list)
                    {
                        <!-- Small post -->
                        <div class="featured-posts-grid__item featured-posts-grid__item--sm">
                            <article class="entry card post-list featured-posts-grid__entry">
                                <div class="entry__img-holder post-list__img-holder card__img-holder" style="background-image: url(@FileDirectories.BlogImageDirectory@item.ImageName)">
                                    <a href="/Blog/@item.BlogSlug" class="thumb-url"></a>
                                    <img src="@FileDirectories.BlogImageDirectory@item.ImageName" alt="@item.ImageAlt" class="entry__img d-none">
                                    <a href="/Blogs/@item.CategorySlug" class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--blue">@item.CategoryName</a>
                                </div>

                                <div class="entry__body post-list__body card__body">
                                    <h2 class="entry__title">
                                        <a href="/Blog/@item.BlogSlug">@item.Title</a>
                                    </h2>
                                    <ul class="entry__meta">
                                        <li class="entry__meta-author">
                                            <span>نویسنده:</span>
                                            <a href="#">@item.Writer </a>
                                        </li> <li class="entry__meta-author">
                                            <span>تعداد بازدید:</span>
                                            <a href="#">@item.Seen </a>
                                        </li>
                                        <li class="entry__meta-date">
                                           @item.CreateDate
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                        
                        <!-- end post -->
                    }


                </div> <!-- end col -->

                <div class="col-lg-6">

                    <!-- Large post -->
                    <div class="featured-posts-grid__item featured-posts-grid__item--lg">
                        <article class="entry card featured-posts-grid__entry">
                            <div class="entry__img-holder card__img-holder">
                                <a href="single-post.html">
                                    <img src="@FileDirectories.BlogImageDirectory400@first.ImageName" alt="@first.ImageAlt" class="entry__img">
                                </a>
                                <a href="/Blogs/@first.CategorySlug" class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--green">@first.CategoryName</a>
                            </div>

                            <div class="entry__body card__body">
                                <h2 class="entry__title">
                                    <a href="/Blog/@first.BlogSlug">@first.Title</a>
                                </h2>
                                <ul class="entry__meta">
                                    <li class="entry__meta-author">
                                        <span>نویسنده:</span>
                                        <a href="#">@first.Writer</a>
                                    </li>
                                     <li class="entry__meta-author">
                                        <span>تعداد بازدید:</span>
                                        <a href="#">@first.Seen</a>
                                    </li>

                                    <li class="entry__meta-date">
                                        @first.CreateDate
                                    </li>
                                </ul>
                            </div>
                        </article>
                    </div> <!-- end large post -->
                </div>

            </div>
        </div>
    </section>
}
<!-- end featured posts grid -->