@model List<Site.Application.Contract.BanerService.Query.BanerForUiQueryModel>
@{
    int aosDuration = 1000;
    string[] positions = { "align-self-start", "align-self-center", "align-self-end" };
    int index = 0;
}

@if (Model?.Any() == true)
{
    foreach (var item in Model)
    {
        <div class="col @positions[index % positions.Length]"
             data-aos="fade-top"
             data-aos-duration="@aosDuration">
            <a href="@item.Url">
                <img src="@item.ImageName"
                     alt="@item.ImageAlt"
                     class="img-fluid">
            </a>
        </div>

        aosDuration += 100;
        index++;
    }
}
