@page "{ownerId:int?}/{commentFor?}/{commentStatus?}"
@using Shared.Application
@model NavinoShop.WebApplication.Areas.Admin.Pages.Comments.IndexModel
@{
    Layout = "_AdminLayout";
    ViewData["title"] = "کامنت ها ";
    var successMessage = TempData["success"] as string;

}
   



<div class="box">
    <div class="box-header">
        <h3 class="box-title">تصاویر</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">


            <div class="row col-12">
                <form>
                    <input type="hidden" asp-for="Comments.PageId" />
                    <div class="col col-md-4 col-sm-6">
                        <div id="DataTables_Table_0_filter" class="dataTables_filter">
                            <label>
                                جستجو:
                                <input name="filter" type="search" class="form-control input-sm" placeholder="" aria-controls="DataTables_Table_0">
                            </label>
                        </div>
                    </div>
                    <div class="col col-md-4 col-sm-6">
                        <div class="dataTables_length" id="DataTables_Table_0_length">
                            <label>
                                نمایش
                                <select name="take" aria-controls="DataTables_Table_0" class="form-control input-sm">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                داده
                            </label>
                        </div>
                    </div>
                    <div class="col col-md-4 col-sm-6">
                        <button class="btn btn-info">جست و جو </button>
                    </div>
                </form>

            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="ImageDataTable table table-bordered table-striped dataTable" role="grid">
                        <thead>
                            <tr role="row">
                                <th>نام</th>
                                <th>ایمیل</th>
                                <th>کاربر</th>
                                <th>نظر</th>
                                <th>متن نظر</th>
                                <th>دلیل لغو</th>
                                <th>وضعیت</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Comments.Comments)
                            {
                                <tr id="Deleted_@item.Id">
                                    <td>@item.FullName</td>
                                    <td>@item.Email</td>
                                    <td>@item.UserName</td>
                                    <td>@item.CommentTitle</td>
                                    <td class="comment-text">@item.Text</td>
                                    <td class="why-rejected">@item.WhyRejected</td>
                                    <td>@item.CommentStatus.ToString().Replace("_", " ")</td>
                                    <td>
                                        @if (item.HaveChild)
                                        {
                                            <a class="btn btn-primary"
                                               href="/Admin/Comments/@item.OwnerId/@item.For/@item.CommentStatus?parent=@item.Id"
                                               target="_blank">
                                                پاسخ‌ها
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>

            @if (Model.Comments.PageCount > 1)
            {
                <div class="row">
                    <div class="col-sm-5"></div>
                    <div class="col-sm-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                            <ul class="pagination">
                                @if (Model.Comments.PageId > 1)
                                {

                                    <li class="paginate_button ">
                                        <a href="/Admin/Comments/@Model.Comments.OwnerId/@Model.Comments.For/@Model.Comments.CommentStatus?pageid=@(Model.Comments.PageId - 1)&take=@Model.Comments.Take&filter=@Model.Comments.Filter" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">«</a>
                                    </li>
                                }

                                @for (int i = Model.Comments.StartPage; i < Model.Comments.EndPage; i++)
                                {
                                    <li class="paginate_button  @((Model.Comments.PageId == i) ? "active" : "")">
                                        <a href="/Admin/Comments/@Model.Comments.OwnerId/@Model.Comments.For/@Model.Comments.CommentStatus?pageid=@(i)&take=@Model.Comments.Take&filter=@Model.Comments.Filter" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">@i</a>
                                    </li>
                                }
                                @if (Model.Comments.PageId < Model.Comments.PageCount)
                                {
                                    <li class="paginate_button ">
                                        <a href="/Admin/Comments/@Model.Comments.OwnerId/@Model.Comments.For/@Model.Comments.CommentStatus?pageid=@(Model.Comments.PageId + 1)&take=@Model.Comments.Take&filter=@Model.Comments.Filter" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">»</a>
                                    </li>
                                }
                                @if (Model.Comments.PageCount > Model.Comments.EndPage)
                                {
                                    <li class="paginate_button next" id="DataTables_Table_0_next">
                                        <a href="/Admin/Comments/@Model.Comments.OwnerId/@Model.Comments.For/@Model.Comments.CommentStatus?pageid=@(Model.Comments.PageCount)&take=@Model.Comments.Take&filter=@Model.Comments.Filter" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">@Model.Comments.PageCount</a>
                                    </li>
                                }

                            </ul>
                        </div>
                    </div>
                </div>
            }




        </div>
    </div>
</div>



