@model Query.Contract.UI.Blog.BlogsUiQueryPaging
@{
    Layout = "_BlogLayout";
    ViewData["title"] = Model.SeoUi.MetaTitle;
}
@section Seo {
    <partial name="_Seo" model="Model.SeoUi" />
}
<div class="container">
    <ul class="breadcrumbs">
        @foreach (var item in Model.breadCrumbs.OrderBy(n => n.Number))
        {
            <li class="breadcrumbs__item">
                <a href="@item.Url" class="breadcrumbs__url">@item.Title</a>
            </li>
        }
    </ul>
</div>
<div class="main-container container" id="main-container">
    <div class="row">
        <!-- Posts -->
        <div class="col-lg-8 blog__content mb-72">
            <h1 class="page-title">@Model.Title</h1>
            @if (Model.Blogs.Count() > 0)
            {
                <div class="row card-row">
                    @foreach (var Blog in Model.Blogs)
                    {
                        <div class="col-md-6">
                            <article class="entry card">
                                <div class="entry__img-holder card__img-holder">
                                    <a href="single-post.html">
                                        <div class="thumb-container thumb-70">
                                            <img data-src="@Blog.ImageName" src="@Blog.ImageName"
                                            class="entry__img lazyloaded" alt="@Blog.ImageAlt">
                                        </div>
                                    </a>
                                    <a href="/Blogs/@Blog.categorySlug"
                                    class="entry__meta-category
                                           entry__meta-category--label
                                           entry__meta-category--align-in-corner
                                           entry__meta-category--violet">@Blog.CategoryTitle</a>
                                </div>
                                <div class="entry__body card__body">
                                    <div class="entry__header">

                                        <h2 class="entry__title">
                                            <a href="/Blog/@Blog.Slug">@Blog.Title</a>
                                        </h2>
                                        <ul class="entry__meta">
                                            <li class="entry__meta-author">
                                                <span>نویسنده:</span>
                                                <a href="#">@Blog.Writer</a>
                                            </li>
                                            <li class="entry__meta-date">
                                                @Blog.CreateDate
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="entry__excerpt">
                                        <p>@Blog.ShortDescription<p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    }

                </div>
            }
            else
            {
                <div class="row card-row">
                    <div class="alert ">
                        <h4>موردی یافت نشد!</h4>
                    </div>

                </div>

            }
            <!-- Pagination -->
            <nav class="pagination">
                @if (Model.PageId > Model.StartPage)
                {
                    <a href="/Blogs?slug=@Model.Slug&pageId=@(Model.PageId - 1)&filter=@Model.Filter" class="pagination__page pagination__icon pagination__page--next"><i class="ui-arrow-right"></i></a>
                }
                <a href="/Blogs?slug=@Model.Slug&pageId=@Model.StartPage&filter=@Model.Filter" class="pagination__page @((Model.StartPage == Model.PageId) ? "pagination__page--current" : "")">@Model.StartPage</a>
                @for (int i = Model.StartPage + 1; i < Model.EndPage; i++)
                {
                    <a href="/Blogs?slug=@Model.Slug&pageId=@i&filter=@Model.Filter" class="pagination__page @((i == Model.PageId) ? "pagination__page--current" : "")">@i</a>
                }
                @if (Model.EndPage != Model.StartPage && Model.EndPage != 0)
                {
                    <a href="/Blogs?slug=@Model.Slug&pageId=@Model.EndPage&filter=@Model.Filter" class="pagination__page @((Model.EndPage == Model.PageId) ? "pagination__page--current" : "")">@Model.EndPage</a>
                }

                @if (Model.PageId < Model.EndPage)
                {
                    <a href="/Blogs?slug=@Model.Slug&pageId=@(Model.PageId + 1)&filter=@Model.Filter" class="pagination__page pagination__icon pagination__page--next"><i class="ui-arrow-left"></i></a>
                }

            </nav>
        </div> <!-- end posts -->

        <aside class="col-lg-4 sidebar sidebar--right mt-2">


            <aside class="widget widget-popular-posts">
                <h4 class="widget-title">دسته بندی نوشته ها</h4>
                <ul class="post-list-small">
                    @foreach (var item in Model.blogCategories)
                    {
                        <li class="post-list-small__item">
                            <article class="post-list-small__entry clearfix">
                                <div class="post-list-small__body">
                                    <h3 class="post-list-small__entry-title">
                                        <a href="/Blogs/@item.Slug">@item.Title<span class="categories-count">@item.BlogCount</span></a>
                                    </h3>

                                </div>
                            </article>
                        </li>

                    }

                </ul>
            </aside>
            <aside class="widget widget_mc4wp_form_widget">
                <h4 class="widget-title">خبرنامه</h4>
                <p class="newsletter__text">
                    <i class="ui-email newsletter__icon"></i>
                    برای اطلاع از آخرین خبرها مشترک شوید
                </p>
                <div class="mc4wp-form">
                    <div class="mc4wp-form-fields">
                        <div class="form-group">
                            <input type="email" placeholder="ایمیل" id="InputUsersEmail" required="">
                        </div>
                        <div class="form-group">
                            <input type="button" onclick="AddUsersEmail()" class="btn btn-lg btn-color" value="عضویت">
                        </div>
                    </div>
                    <span id="InputUsersEmailValid" class="m-2"></span>
                </div>
            </aside>

            <aside class="widget widget_media_image">
                @await Component.InvokeAsync("LeftSideBaner")
            </aside>

        </aside>

    </div>
</div>