@model List<Query.Contract.UI.UserPanel.UserAddressQueryModel>
@if (Model.Count() > 0)
{
    <div class="custom-container" id="addresses">
        <div class="row pt-2 px-3">
            <div class="col-12"><h1>آدرس های من</h1></div>
        </div>
        <hr>
        <div class="container">
            <div class="row">
                @foreach (var address in Model)
                {
                    <div id="@address.Id" class="col-12 address py-2">
                        <div class="row">
                            <div class="col-12 col-sm-10">
                                <div class="title">@address.AddressDetail</div>
                                <div class="sub-title">@address.State، @address.City</div>
                                <div class="sub-title">@address.PostalCode</div>
                                <div class="sub-title">@address.FullName</div>
                                <div class="sub-title">@address.NationalCode</div>
                                <div class="sub-title">@address.Phone</div>
                            </div>
                            <div class="col-12 col-sm-2 text-lg-end">
                                <a onclick="DeleteAjax('   آیا از حذف این آدرس مطئن هستید؟ ','این عملیات غیر قابل بازگشت خواهد بود', 'warning', 'بله', '/Profile/DeleteAddress',@address.Id)" class="float-right float-sm-left pr-2 pl-sm-2"><svg class="svg-inline--fa fa-trash-alt fa-w-14 font-weight-normal" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="trash-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"></path></svg><!-- <i class="fa fa-trash-alt font-weight-normal"></i> Font Awesome fontawesome.com --></a>
                                <a href="/Profile/EditAddress?id=@address.Id" class="float-right float-sm-left"><svg class="svg-inline--fa fa-edit fa-w-18 font-weight-normal" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="edit" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z"></path></svg><!-- <i class="fa fa-edit font-weight-normal"></i> Font Awesome fontawesome.com --></a>
                                <a href="#" class="float-right float-sm-left ml-2" title="آدرس پیش فرض"><svg class="svg-inline--fa fa-check-circle fa-w-16" style="color: #fcb941;" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="check-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"></path></svg><!-- <i class="fa fa-check-circle" style="color: #fcb941"></i> Font Awesome fontawesome.com --></a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
